<!DOCTYPE html>
<html lang="zh-CN">
<!--[if IE 6]><html class="ie6 old-ie"><![endif]-->
<!--[if IE 7]><html class="ie7 old-ie"><![endif]-->
<!--[if IE 8]><html class="ie8 old-ie"><![endif]-->

<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<meta http-equiv="X-UA-Compatible" content="ie=edge">
	<link rel="shortcut icon" href="../../images/logo.ico" type="image/x-icon">
	<meta name="description" content="久慕王妃 香港中亚国际贸易有限公司">
	<meta name="keywords" content="久慕王妃 香港中亚国际贸易有限公司 法国久慕王妃化妆品">
	<title>久慕王妃 - 香港中亚国际贸易有限公司</title>

	<!--[if lt IE 8]>
    <p>请更新您的 IE 浏览器或使用谷歌浏览器、QQ浏览器、360极速浏览器等。</p>
  <![endif]-->

	<link rel="stylesheet" href="../css/normalize.css">
	<link rel="stylesheet" href="../css/font-awesome.min.css">
	<link rel="stylesheet" href="../css/bootstrap/css/bootstrap.min.css">
	<link rel="stylesheet" href="../css/top.css">
	<link rel="stylesheet" href="../css/style.css">
	<link rel="stylesheet" href="../css/viewport.css">

	<!--[if lt IE 9]>
    <!-- 让 IE 6-8 支持 HTML5 标签并添加默认样式。 -->
	<script src="../js/html5shiv.min.js"></script>
	<!-- 让 IE 6-8 支持 min/max-width CSS3 媒体查询。 -->
	<script src="../js/respond.min.js"></script>
	<![endif]-->

</head>
<body>
	
	<!-- header -->
	<header>
		<nav class="navbar navbar-default" role="navigation">
			<div class="container-fluid"> 
				<div class="navbar-header">
					<button type="button" class="navbar-toggle" data-toggle="collapse"
							data-target="#example-navbar-collapse">
						<span class="sr-only">切换导航</span>
						<span class="icon-bar"></span>
						<span class="icon-bar"></span>
						<span class="icon-bar"></span>
					</button>
					<a class="navbar-brand" href="../index.html">
						<img src="../images/logo_green.png" alt="" class="logopc">
						<img src="../images/logo_ph.png" alt="" class="logoph">
						<!--<p class="logotxt">久慕王妃</p>-->
					</a>
				</div>
				<div class="collapse navbar-collapse" id="example-navbar-collapse">
					<ul class="nav navbar-nav pc">
						<li><a id="index" href="../index.html">首页</a></li>
						<li><a id="about" class="more_menu">关于我们</a>
						</li>
						<li class="active"><a id="pro" href="#">产品中心</a></li>
						<li><a id="brand" href="#">品牌资讯</a></li>
						<li><a id="join" class="more_menu">加入我们</a>
						</li>
						<li><a id="contactus" href="#">联系我们</a></li>
						<li><a id="storeshow" class="more_menu">门店展示</a>
						</li>
						<li><a id="favourable" href="#">最新优惠</a></li>
						</li>
					</ul>
					<ul class="nav navbar-nav ipad">
						<li class="active"><a href="../index.html">首页</a></li>
						<li><a href="#">关于我们</a></li>
						<li><a href="#">产品中心</a></li>
						<li><a href="#">品牌资讯</a></li>
						<li><a href="#">加入我们</a></li>
						<li><a href="#">联系我们</a></li>
						<li><a href="#">门店展示</a></li>
						<li><a href="#">最新优惠</a></li></li>
					</ul>
					<ul class="nav navbar-nav ph">
						<li class="active"><a href="../index.html">首页</a></li>
						<li><a href="#">关于我们</a>
							<ul class="submenu">
								<li><a href="#">品牌故事</a></li>
								<li><a href="#">企业文化</a></li>
								<li><a href="#">研发实力</a></li>
								<li><a href="#">品牌荣耀</a></li>
								<li><a href="#">社会责任</a></li>
							</ul>
						</li>
						<li><a href="#">产品中心</a></li>
						<li><a href="#">品牌资讯</a></li>
						<li><a href="#">加入我们</a>
							<ul class="submenu">
								<li><a href="#">品牌故事</a></li>
								<li><a href="#">企业文化</a></li>
								<li><a href="#">研发实力</a></li>
								<li><a href="#">品牌荣耀</a></li>
								<li><a href="#">社会责任</a></li>
							</ul>
						</li>
						<li><a href="#">联系我们</a></li>
						<li><a href="#">门店展示</a>
							<ul class="submenu">
								<li><a href="#">品牌故事</a></li>
								<li><a href="#">企业文化</a></li>
								<li><a href="#">研发实力</a></li>
								<li><a href="#">品牌荣耀</a></li>
								<li><a href="#">社会责任</a></li>
							</ul>
						</li>
						<li><a href="#">最新优惠</a></li></li>
					</ul>
					<div class="cont">
						<img src="../images/recruit.png" alt="" class="pull-left phpic">
						<div class="pull-right">
							<div class="ontact">ONTACT</div>
							<div class="phnum">400-1098-669</div>
						</div>
					</div>
				</div>
			</div>
		</nav>
	</header>
	<div id="nav">
		<div class="toggle about">
			<div class="pic pull-left">
				<img src="../images/aboutus.jpg" alt="">
			</div>
			<ul class="subnav pull-left">
				<li><a href="#">品牌故事</a></li>
				<li><a href="#">企业文化</a></li>
				<li><a href="#">研发实力</a></li>
				<li><a href="#">品牌荣耀</a></li>
				<li><a href="#">社会责任</a></li>
			</ul>
		</div>
		<div class="toggle pro">
			<div class="starpro pull-left">
				<div class="pic pull-left">
					<img src="../images/aboutus.jpg" alt="">
					<h3>明星产品</h3>
				</div>
				<div class="lists pull-left">
					<ul class="subnav">
						<li><a href="#">品牌故事</a></li>
						<li><a href="#">企业文化</a></li>
						<li><a href="#">研发实力</a></li>
						<li><a href="#">品牌荣耀</a></li>
						<li><a href="#">社会责任</a></li>
						<li><a href="#">品牌故事</a></li>
						<li><a href="#">企业文化</a></li>
						<li><a href="#">研发实力</a></li>
						<li><a href="#">品牌荣耀</a></li>
						<li><a href="#">社会责任</a></li>
					</ul>
				</div>
			</div>
			<div class="protype pull-left">
				<div class="pic pull-left">
					<img src="../images/aboutus.jpg" alt="">
					<h3>产品类型</h3>
				</div>
				<div class="lists pull-left">
					<ul class="subnav pull-left">
						<li><a href="#">品牌故事</a></li>
						<li><a href="#">企业文化</a></li>
						<li><a href="#">研发实力</a></li>
						<li><a href="#">品牌荣耀</a></li>
						<li><a href="#">社会责任</a></li>
						<li><a href="#">品牌故事</a></li>
						<li><a href="#">企业文化</a></li>
						<li><a href="#">研发实力</a></li>
						<li><a href="#">品牌荣耀</a></li>
						<li><a href="#">社会责任</a></li>
					</ul>
					<ul class="subnav pull-left">
						<li><a href="#">品牌故事</a></li>
						<li><a href="#">企业文化</a></li>
						<li><a href="#">研发实力</a></li>
						<li><a href="#">品牌荣耀</a></li>
						<li><a href="#">社会责任</a></li>
						<li><a href="#">品牌故事</a></li>
						<li><a href="#">企业文化</a></li>
						<li><a href="#">研发实力</a></li>
						<li><a href="#">品牌荣耀</a></li>
						<li><a href="#">社会责任</a></li>
					</ul>
				</div>
			</div>
		</div>
		<div class="toggle join">
			<div class="pic pull-left">
				<img src="../images/aboutus.jpg" alt="">
			</div>
			<ul class="subnav pull-left">
				<li><a href="#">市场前景</a></li>
				<li><a href="#">品牌优势</a></li>
				<li><a href="#">十大支持</a></li>
				<li><a href="#">加盟培训</a></li>
			</ul>
		</div>
		<div class="toggle storeshow">
			<div class="pic pull-left">
				<img src="../images/aboutus.jpg" alt="">
			</div>
			<ul class="subnav pull-left">
				<li><a href="#">店铺形象</a></li>
			<li><a href="#">优秀代理商</a></li>
			</ul>
		</div>
	</div>
	<!-- PC端导航栏显示后页面遮罩层 -->
	<div class="shade"></div>

	<!-- banner -->
	<div id="banner">
		<img src="../images/newsbanner.jpg" alt="">
	</div>

	<!-- section -->
	<section>
		<div class="new-detail our-detail">
			<h3>大冷天儿的，会穿袜子的女生都不会太难看！</h3>
			<span>更新时间：2017-08-12 13:49:53</span>&nbsp;&nbsp;<span>阅读量：210</span>
			<hr>
			<p>袜子，在一部分人眼里是保暖用的，从不值得露出来“示众“；但在爱美者的眼中，袜子更多的功用是“扮美“，不管穿得是高跟鞋、球鞋还是乐福鞋，一双合适的袜子的功效几乎匹敌一个漂亮的包包，而且，它的成本是全身上下最低的。</p>
			<p>所以，今年冬天想要美的更上一层楼，投资一个名牌包包前不如先投资一双时髦的袜子。</p>
			<p class="our-title">什么样的袜子最时髦？</p>
			<p>棉袜、羊绒袜是用来保暖的，下面这3款完全是为美而生。</p>
			<p class="our-title">渔网袜</p>
			<p>如果现在要在袜子界评一个年度最佳新人奖的话，渔网袜一定稳拿。</p>
			<p>2016秋冬T台上，从网眼大到可以捕鱼的渔网到细密的蚊帐网，一时间，渔网袜红透袜子圈。</p>
			<p>大网眼的比较难驾驭，很容易变失足少女。</p>
			<img src="../images/banner1.jpg" alt="">
			<p>大网眼的比较难驾驭，很容易变失足少女。</p>
			<p>2016秋冬T台上，从网眼大到可以捕鱼的渔网到细密的蚊帐网，一时间，渔网袜红透袜子圈。2016秋冬T台上，从网眼大到可以捕鱼的渔网到细密的蚊帐网，一时间，渔网袜红透袜子圈。2016秋冬T台上，从网眼大到可以捕鱼的渔网到细密的蚊帐网，一时间，渔网袜红透袜子圈。2016秋冬T台上，从网眼大到可以捕鱼的渔网到细密的蚊帐网，一时间，渔网袜红透袜子圈。</p>
			<p>大网眼的比较难驾驭，很容易变失足少女。</p>
			<img src="../images/banner1.jpg" alt="">
			<p>大网眼的比较难驾驭，很容易变失足少女。</p>
			<p>2016秋冬T台上，从网眼大到可以捕鱼的渔网到细密的蚊帐网，一时间，渔网袜红透袜子圈。2016秋冬T台上，从网眼大到可以捕鱼的渔网到细密的蚊帐网，一时间，渔网袜红透袜子圈。2016秋冬T台上，从网眼大到可以捕鱼的渔网到细密的蚊帐网，一时间，渔网袜红透袜子圈。2016秋冬T台上，从网眼大到可以捕鱼的渔网到细密的蚊帐网，一时间，渔网袜红透袜子圈。</p>
			<p>大网眼的比较难驾驭，很容易变失足少女。</p>
			<hr>
			<div class="next">
        <a href="#"><span>上一篇：</span>1号仙人掌水盈白 针对皮肤干燥缺水</a><br>
        <a href="#"><span>下一篇：</span>3号红景天净白 针对皮肤油腻 痘痘</a>
      </div>
		</div>
	</section>
	<div class="returntop">
		<a href="#" title="返回顶部"><i class="fa fa-chevron-up"></i></a>
	</div>
	<!-- footer -->
	<footer>
		<div class="copy">
			<p>版权所有©香港中亚国际贸易有限公司 粤ICP备12345678号</p>
			<p>地址：广东省广州市白云区鹤龙街道鹤龙一路凯升大厦A栋403</p>
			<p>联系电话：15017536137&nbsp;&nbsp;18520319666</p>
		</div>
	</footer>

	<script src="../js/jquery-1.11.1.min.js"></script>
	<script src="../js/jquery.js"></script>
	<script src="../js/bootstrap/js/bootstrap.min.js"></script>
</body>
</html>